

/*-----Global-----*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;  
}
html{
    font-family: proxima nova, sans-serif;
}
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-10, .bgimg-11 
, .bgimg-12, .bgimg-13, .bgimg-14, .bgimg-15, .bgimg-17{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.bgimg-1 {
  background-image: url(../plaatjes/webss.png);
  min-height: 100%;
}

.bgimg-2 {
  background-image: url(../plaatjes/aboutl.PNG);
  min-height: 400px;
}

.bgimg-3 {
  background-image: url(../plaatjes/babuljacage.png);
  min-height: 400px;
}
.bgimg-4 {
  background-image: url(../plaatjes/posetrs.PNG);
  min-height: 400px;
}
.bgimg-5 {
  background-image: url(../plaatjes/kevin1.PNG);
  min-height: 400px;
    
}
.bgimg-6 {
  background-image: url(../plaatjes/poster1.PNG);
  min-height: 400px;
    
}



.parallax {
    /* The image used */
    background-image: url(../plaatjes/webss.png);

    /* Set a specific height */
    min-height: 900px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #9347b0;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
.work a img{
    margin: 1%;
    width: 100%;
}
a:link {
    color: #9347b0; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: #9347b0;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #9347b0;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #9347b0;
    background-color: transparent;
    text-decoration: underline;
}

.box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  }


.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: #111;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
   
    flex-direction: column;
  }
}

a{
    margin: 0 200px 0px 200px;
}
p{
    margin: 0 200px 0px 200px;
}
@media only screen and (max-width: 991px){
    a{
    margin: 0 40px 0px 40px;
}
p{
    margin: 0 40px 0px 40px
}
}


* {
	box-sizing: border-box;
}

body {
	background-color: white;
    font-family: 'Roboto', sans-serif;
}

h1, .row {
    text-align: center;
}

.row figure {
    height: 240px;
    width: 240px;
    margin:0;
    background-size: cover;
	background-position: 50% 50%;
    box-shadow:0 0 15px rgba(0, 0, 0, 0.7);
    transition: all 1s ease-in-out;
    background-repeat:no-repeat;
    z-index:2;
    display:inline-block;
    position:relative;

}

.row a {
    display: inline-block;
    text-align: center;
    margin:40px;
    text-decoration:none;
    color:white;
}

.row a p {
    position:absolute;
    opacity: 0;
    font-size: 20px;
    top:45%;
    z-index:100;
    left: 0;
    right: 0;
    margin: auto;
}

figure:hover p {
    opacity:1;
}

figure:after {
    content:"";
    display:inline-block;
    height:100%;
    width:100%;
    background-color:#777;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity:0;
    transition: all 0.4s ease-in-out 0s;
    z-index:99;
}

figure:hover:after {
    opacity:0.7;
}

.Moodboard1 {
	background-image:url(../plaatjes/moodboard1.PNG)
}

.Moodboard2 {
	background-image: url(../plaatjes/moodboard2.PNG);
}

.Moodboard3 {
	background-image: url(../plaatjes/moodoard3.PNG);
}

.Moodboard4 {
	background-image: url(../plaatjes/moodboard4.PNG);
}

.Poster {
	background-image: url(../plaatjes/babuljaposter.PNG);
}

.MenuKaart {
	background-image: url(../plaatjes/menukaart.PNG);
}

.Stopmotion {
	background-image: url(../plaatjes/sttopl.PNG);
}

.Verhaal {
	background-image: url(../plaatjes/book.png);
}

.VideoB {
	background-image: url(../plaatjes/babuljastory.PNG);
}

.kamer1 {
	background-image: url(../plaatjes/kamer1.png);
}

.kamer2 {
	background-image: url(../plaatjes/kamer2.png);
}

.website1 {
	background-image: url(../plaatjes/websitebbulja.png);
}

.website2 {
	background-image: url(../plaatjes/websitebbuljav1.png);
}

.website3 {
	background-image: url(../plaatjes/websitebbuljav2.png);
}

.test {
	background-image: url(../plaatjes/testt.PNG);
}

.witmoodboard {
    background-image: url(../plaatjes/witmoodboard.PNG);
}

.vrmoodboard {
    background-image: url(../plaatjes/vrmoodboard.PNG);
}

.trendmoodboard {
    background-image: url(../plaatjes/trendmoodboard.PNG);
}

.hologrammoodboard {
    background-image: url(../plaatjes/hologrammoodboard.PNG);
}

.semiserieusmoodboard {
    background-image: url(../plaatjes/semiserieusmoodboard.PNG);
}

.zwartywitmoodboard {
    background-image: url(../plaatjes/zwartywitmoodboard.PNG);
}

.neonmoodboard {
    background-image: url(../plaatjes/neonmoodboard.PNG);
}

.nachtlevenmoodboard {
    background-image: url(../plaatjes/gezellig.PNG);
}

.dronemoodboard {
    background-image: url(../plaatjes/dronemoodboard.PNG);
}

.kleurmensmoodboard {
    background-image: url(../plaatjes/kleurmensmoodboard.PNG);
}

.uitgaanmoodboard {
    background-image: url(../plaatjes/uitgaanmoodboard.PNG);
}

.nachtmoodboard {
    background-image: url(../plaatjes/nachtmoodboard.PNG);
}

.eigeninspiratie {
    background-image: url(../plaatjes/eigeninspiratie.PNG);
}

.logoinspiratie {
    background-image: url(../plaatjes/logoinspiratie.PNG);
}

.lettertypes {
    background-image: url(../plaatjes/lettertypes.PNG);
}

.kleurenpallet {
    background-image: url(../plaatjes/kleurenpallet.PNG);
}

.driewoorden {
    background-image: url(../plaatjes/driewoorden.PNG);
}

.logobrandguide {
    background-image: url(../plaatjes/logobrandguide.PNG);
}

.websitemokup {
    background-image: url(../plaatjes/websitemokup.PNG);
}

.usability {
    background-image: url(../plaatjes/usability.PNG);
}
.usabilitytest{
    background-image: url(../plaatjes/usabilitytestbahar.PNG)
}

.logoitteratie {
    background-image: url(../plaatjes/logoitteratie.jpeg);
}
.logos {
    background-image: url(../plaatjes/logos.PNG);
}
.logoss {
    background-image: url(../plaatjes/logoss.png);
}

.poster1 {
    background-image: url(../plaatjes/poster1.jpg);
}
.poster2 {
    background-image: url(../plaatjes/poster2.jpg);
}.poster3 {
    background-image: url(../plaatjes/poster3.jpg);
}.poster4 {
    background-image: url(../plaatjes/poster4.jpg);
}.poster5 {
    background-image: url(../plaatjes/poster5.jpg);
}.poster6 {
    background-image: url(../plaatjes/poster6.jpg);
}.poster7 {
    background-image: url(../plaatjes/poster7.jpg);
}.poster8 {
    background-image: url(../plaatjes/poster8.jpg);
}.poster9 {
    background-image: url(../plaatjes/poster9.jpg);
}
.poster10 {
    background-image: url(../plaatjes/poster10.jpg);
}
.dried {
    background-image: url(../plaatjes/kevin1.PNG);
}
.dried1 {
    background-image: url(../plaatjes/kevin4.PNG);
}
.persona {
    background-image: url(../plaatjes/persona.PNG);
}

.storyboard {
    background-image: url(../plaatjes/storyboard.png)
}

.ARposterr {
    background-image: url(../plaatjes/poster1snap.png)
}

.ARvideo {
    background-image: url(../plaatjes/poster1snap.png)
}
.cj {
    background-image: url(../plaatjes/customerjourneyedwin.PNG)
}
.cj1 {
    background-image: url(../plaatjes/customerjourneyvisualedwin.PNG)
}

.hi {
    background-image: url(../plaatjes/1_rGiHBnlqf6-koapA2DzUoA.jpeg)
}
/* lightbox */

.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: scroll;
  z-index:300;
    
}

.lightbox-target .container {
  margin: auto;
  position: absolute;

  top: 50vh;
  left: 50vw;
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align:left;
  transform: translate3d(-50%, -50%, 0);
}

h3 {
    text-align: center;
}

.buh 
{
    width: 500px;
    text-align: left;
    margin-left: 5%;
}

.container .elements {
    display:inline-block;
    width: 40%;
    max-height: 425px;

}
.div.container{
    size: auto;
}



.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
    
    
}

.lightbox-target:target img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    vertical-align: top;
     overflow-y:scroll;
}



.feeback {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#navbar {
  background: transparent;
  color: purple;
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
} @media(max-width: 768px) {
    .nav-wrapper {
      width: 90%;
    }
  } @media(max-width: 638px) {
      .nav-wrapper {
        width: 100%;
      }
    } 

#navbar ul {
  display: inline-block;
  float: right;
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
} @media(max-width: 640px) {
    #navbar ul {
      display: none;
    }
  } @media(orientation: landscape) {
      #navbar ul {
        display: inline-block;
      }
    }

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: white;
  display: block;
  font-size: 1em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: purple;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before, #navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: purple;
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: purple;
  right: 0;
  /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li a:hover:before {
  background: purple;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}

.container {
  margin: 0 auto;
    font-size: 22px;
}





ul {
  list-style: none;
}

ul li {
  margin-bottom: 15px;
  padding: 10px 0 10px 25px;
  cursor: pointer;
}


.lijst {
  background: white;
}




